Win/TelescopeMC/Debug/*
*.sdf
*.suo
*.opensdf
Win/TelescopeMC/Release/*
*.root
*.tlog
*.lastbuildstate
*.log
*.unsuccessfulbuild
Win/Debug/*
win/Release/*
Win/Debug/
Win/Debug/TelescopeMC.exe
Win/Release/TelescopeMC.exe
Win/Release/TelescopeMC.pdb
#Visual Studio Dateien ignorieren
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
