Win/TelescopeMC/Debug/*
*.sdf
*.suo
*.opensdf
Win/TelescopeMC/Release/*
*.root
*.tlog
*.lastbuildstate
*.log
*.unsuccessfulbuild
Win/Debug/*
win/Release/*
Win/Debug/
Win/Debug/TelescopeMC.exe
Win/Release/TelescopeMC.exe
Win/Release/TelescopeMC.pdb
